@import url('https://fonts.googleapis.com/css?family=Squada+One&display=swap');

body{
	margin: auto;
	background-color: #383838;
	color: white;
	font-size: 25px;
	font-family: Helvetica, Arial;
}

#display{
	display: grid;
	grid-template-areas: "drumpad sidebar";
	max-width: 70vw;
	min-height: 70vh;
	padding: 1vh;
}

/* drumpads area */
#drum-pads{
	background-color: black;
	border-radius: 20px 0 0 20px;
	/* drumpad grid */
	grid-area: drumpad;
	display: grid;
	grid-template-columns: 13vw 13vw 13vw 13vw;
	grid-template-rows: 13vw 13vw 13vw;
}

/* drumpad buttons */
.drum-pad{
	cursor: pointer;
	position: relative;
	margin: 5px;
	background: rgb(97,97,97);
	background: radial-gradient(circle, rgba(97,97,97,1) 0%, rgba(120,120,120,1) 100%);
	border-style: none;
	border-radius: 10px;
}
.drum-pad-active{
	background: rgb(190,194,0);
	background: radial-gradient(circle, rgba(190,194,0,1) 0%, rgba(249,255,0,1) 100%);
	margin: 10px;
}
.drum-pad:active{
	background: rgb(190,194,0);
	background: radial-gradient(circle, rgba(190,194,0,1) 0%, rgba(249,255,0,1) 100%);
	margin: 10px;
}
#button-inner-text{
	font-family: 'Squada One';
	font-size: 30px;
    position: absolute;
    bottom: 0;
    left: 0.2em;
}

/* sidebar area */
#drumpad-tools{
	background-color: black;
	grid-area: sidebar;
	border-radius: 0 20px 20px 0;
	max-width: 200px;
}
#sidebar-stop-button{
	background-color: black;
	margin-top: 20px;
	padding: 5px;
	border-radius: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: red;
	color: red;
	font-size: 20px;
	max-height: 15vh;
	cursor: pointer;
}
#sidebar-stop-button:active{
	background-color: red;
	color: black;
}
.sidebar-text{
	margin: 6vh 0 2vh 0;
}
select{
	border-style: solid;
	border-color: white;
	color: white;
	background: none;
	border-radius: 5px;
	font-size: 20px;
}
select option{
	background-color: black;
}

/* tablet ver */
@media(max-width: 850px){
	body{
		background-color: black;
	}
	.keyboard-controls{
		display: none;
	}
	#display{
		grid-template-areas: "drumpad"
							 "sidebar";
		padding: 0;
		max-width: 100vw;
	}
	#drumpad-tools{
		max-width: 100vw;
	}
	#drum-pads{
	grid-template-columns: 25vw 25vw 25vw 25vw;
	grid-template-rows: 25vw 25vw 25vw;
	}
	.drum-pad{
		margin: 5px;
	}
	#sidebar-stop-button{
		width: 100%;
	}
}

/* mobile ver */
@media(max-width: 540px){
	body{
		background-color: black;
	}
	.keyboard-controls{
		display: none;
	}
	#display{
		grid-template-areas: "drumpad"
							 "sidebar";
	}
	#drum-pads{
		grid-template-columns: 33.3vw 33.3vw 33.3vw;
		grid-template-rows: 33vw 33vw 33vw 33vw;
	}
	.drum-pad{
		margin: 5px;
	}
	#sidebar-stop-button{
		width: 100%;
	}
	select{
		width: 100%;
	}
}